/*
 * Component: Small Box
 * --------------------
 */
.small-box {
  border-radius: 4px;
  margin-left: 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);
  -moz-box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);
  box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);
}

.small-box > .inner {
  padding: 10px;
}

.small-box > .small-box-footer {
  position: relative;
  text-align: center;
  padding: 4px 25px;
  color: #fff;
  font-weight: 100;
  display: block;
  z-index: 10;
  background: rgba(0, 0, 0, 0.4);
  text-decoration: none;
  transition: all 0.2s;
}

.small-box > .small-box-footer-second {
  position: relative;
  text-align: center;
  padding: 4px 25px;
  color: #fff;
  display: block;
  z-index: 10;
  background: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  transition: all 0.2s;
}

.small-box h3 {
  font-size: 38px;
  font-weight: bold;
  margin: 0 0 10px 0;
  white-space: nowrap;
  padding: 0;
}

.small-box p {
  font-size: 15px;
}

.small-box p > small {
  display: block;
  color: #f9f9f9;
  font-size: 13px;
  margin-top: 5px;
}

.small-box h3,
.small-box p {
  z-index: 5;
  font-weight: 100;
}

.small-box .icon {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  position: absolute;
  top: -10px;
  right: 29px;
  z-index: 0;
  font-size: 75px;
  color: rgba(0, 0, 0, 0.15);
}

.small-box:hover {
  text-decoration: none;
  color: #f9f9f9;
}

.small-box:hover .icon {
  font-size: 85px;
}

@media (max-width: 767px) {
  .small-box {
    text-align: center;
  }
  .small-box .icon {
    display: none;
  }
  .small-box p {
    font-size: 12px;
  }
}

/* Background colors */
.bg-red,
.bg-yellow,
.bg-aqua,
.bg-blue,
.bg-light-blue,
.bg-green,
.bg-navy,
.bg-teal,
.bg-olive,
.bg-lime,
.bg-orange,
.bg-fuchsia,
.bg-purple,
.bg-maroon,
.bg-black,
.bg-red-active,
.bg-yellow-active,
.bg-aqua-active,
.bg-blue-active,
.bg-light-blue-active,
.bg-green-active,
.bg-navy-active,
.bg-teal-active,
.bg-olive-active,
.bg-lime-active,
.bg-orange-active,
.bg-fuchsia-active,
.bg-purple-active,
.bg-maroon-active,
.bg-black-active{
  color: #fff !important;
}

.bg-gray {
  color: #000;
  background-color: #d2d6de !important;
}

.bg-red{
  background-color: $brand-danger !important;
}

.bg-red-dark{
  background-color: $brand-danger-dark !important;
}

.bg-green {
  background-color: $brand-success !important;
}

.bg-orange {
  background-color: $brand-warning !important;
}

.bg-purple {
  background-color: $brand-purple !important;
}

.bg-purple-dark {
  background-color: $brand-purple-dark !important;
}

.bg-blue {
  background-color: $brand-info !important;
}

.bg-blue-dark {
  background-color: $brand-info-dark !important;
}

.disabled-box {
  opacity: 0.5 !important;
  filter: alpha(opacity=65) !important;
}

.link-action {
  color: white;
  font-size: 18px;
  transition: all 0.3s;
}

.link-action:hover {
  color: rgba(255, 255, 255, 0.8) !important;
  font-size: 20px;
}

.container-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-content: flex-start;
  align-items: flex-start;
  -webkit-flex-flow: row wrap;
  justify-content: flex-start;
}
